input {
  margin: 10px;

  padding: 5px 10px;
  border-radius: 3px;
  font-size: 20px
}

.form {
  font-size: 20px;
}

.form button {
  padding: 3px 10px;
  text-transform: uppercase;
  border-radius: 4px;
  margin: 20px;
  font-size: 20px;
  
  transition: .2s;
}
.form button:hover{
  background-color: black;
  color: white;
}