.App {
  background-color: #209cee;
  text-align: center;
  padding: 30px;
  
}
button{
  cursor: pointer;
}
i{
  font-size: 15px;

}


.active,.done{
  background-color:#e8e8e8;
  border-radius: 4px;
  margin:0 auto;
  max-width:800px;
  padding:5px;
}
.task{
  background-color: #fff;
  border-radius:3px;
  font: size 12px;
  align-items: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display:flex;
  justify-content: space-between;
  margin-bottom: 6px;
  padding:3px 10px;
}

